.payment-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f4f4f4;

}


.payment-card{

background:white;

padding:40px;

width:350px;

text-align:center;

border-radius:15px;

box-shadow:
0px 5px 15px rgba(0,0,0,0.2);

}


.payment-card select{

width:80%;

padding:12px;

margin:20px;

}


.payment-card button{

background:#ff4b5c;

color:white;

border:none;

padding:12px 30px;

border-radius:8px;

cursor:pointer;

}